$red: #af202f;
$other-red: #af1f2c;
$dark-gray: #333333;
$medium-gray: #595a5b;
$light-gray: #bfbfbe;
$light-blue: #4598c2;
$orange: #c35727;
$yellow: #bdb831;
$dark-blue: #357b9e;
$green: #469a8f;

$index-color: $light-blue;
$governance-color: $orange;
$availability-color: $yellow;
$accessibility-color: $other-red;
$acceptability-color: $dark-blue;
$adaptability-color: $green;
