// Typography
$base-font-family: 'Lato', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$red: #af202f;
$dark-gray: #333333;
$medium-gray: #595a5b;
$light-gray: #bfbfbe;

// Font Colors
$base-background-color: #fff;
$base-font-color: lighten($dark-gray, 3);
$action-color: $red;
$body-background-color:lighten($light-gray, 19);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
