Django>=1.11,<2
wagtail>=1.12,<1.13
psycopg2==2.7.3
wagtail-modeltranslation==0.6.0rc2
django-debug-toolbar==1.8
gunicorn==19.4.5
dj-database-url==0.4.0
whitenoise==2.0.6
django-storages==1.4
django-wagtail-feeds==0.0.8
boto==2.39.0
django-nose==1.4.5
elasticsearch==2.3.0
