Django>=1.9,<1.10
wagtail==1.5.2
psycopg2==2.6.1
-e git+https://github.com/infoportugal/wagtail-modeltranslation.git@release/v0.5#egg=wagtail-modeltranslation
django-debug-toolbar==1.4
gunicorn==19.4.5
dj-database-url==0.4.0
whitenoise==2.0.6
django-storages==1.4
boto==2.39.0
django-nose==1.4.3
