{% load wagtailcore_tags wagtailimages_tags %}

<div class="post">
    {% if blog.feed_image %}
    {% image blog.feed_image width-620 as img %}
    {% endif %}
    <a href="{% pageurl blog %}" class="post-image"{% if img %} style="background-image:url('{{ img.url }}')"{% endif %}></a>


    <div class="post-body">
      <a href="{% pageurl blog %}">
        <h3 class="post-heading">{{ blog.title }}</h3>
      </a>
      <p class="post-date">{{ blog.date }}</p>
      {% if blog.search_description %}
        <p>{{ blog.search_description }}</p>
      {% elif blog.intro %}
      <p>{{ blog.intro }}</p>
      {% endif %}
    </div>

    {% for tag in blog.tags.all %}
      <a href="{% pageurl self %}?tag={{ tag }}" class="post-tag">
        <i class="glyphicon glyphicon-tag"></i> {{ tag }}
      </a>
    {% endfor %}

    <a href="{% pageurl blog %}" class="more">
      {% trans "Read more" %}
    </a>

</div>
