{% load wagtail_modeltranslation %}
{% load i18n wagtailcore_tags %}

<div>
  <a href="{% slugurl_trans 'map' %}">
    {% include "icons/map.svg" %}
    <h2>{% trans "Explore the Map" %}</h2>
    <p>
      {% trans "View maps illustrating national progress on the right to education around the world." %}
    </p>
  </a>
</div>

<div>
  <a href="{% slugurl_trans 'rtei-theme' %}">
    {% include "icons/bars.svg" %}
    <h2>{% trans "RTEI by Theme" %}</h2>
    <p>
      {% trans "Evaluate various themes and issues in the Right to Education Index." %}
    </p>
  </a>
</div>

<div>
  <a href="{% slugurl_trans 'rtei-country' %}">
    {% include "icons/earth.svg" %}
    <h2>{% trans "RTEI by Country" %}</h2>
    <p>
      {% trans "Explore progress on the right to education in individual countries." %}
    </p>
  </a>
</div>

<div>
  <a href="{% slugurl_trans 'resources' %}">
    {% include "icons/download.svg" %}
    <h2>{% trans "Download the Data" %}</h2>
    <p>
      {% trans "Download the data that makes up the Right to Education Index. Available in Excel format." %}
    </p>
  </a>
</div>

