{% load i18n rtei_tags %}

{% for indicator in indicators %}
  <li id="indicator_container_{{ indicator.code }}">
    <div id="indicator_item_{{ indicator.code }}" class="indicator">
      <span class="indicator-title">
        <span class="code">{{ indicator.code }}</span>{% trans indicator.title %}
      </span>
      <span class="indicator-value">
        {{ country_indicators|get_indicator_value:indicator.code }}
      </span>
    </div>
    {% if indicator.children %}
      <ul>
      {% indicators_list indicator.children country_indicators is_theme %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
