{% load i18n %}

<div style="display: none">

  <span class="icon" id="desc_icon_index">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_1">{% include "icons/governance.svg" %}</span>
  <span class="icon" id="desc_icon_1.1">{% include "icons/governance.svg" %}</span>
  <span class="icon" id="desc_icon_1.2">{% include "icons/governance.svg" %}</span>
  <span class="icon" id="desc_icon_1.3">{% include "icons/governance.svg" %}</span>
  <span class="icon" id="desc_icon_1.4">{% include "icons/governance.svg" %}</span>
  <span class="icon" id="desc_icon_1.5">{% include "icons/governance.svg" %}</span>
  <span class="icon" id="desc_icon_1.6">{% include "icons/governance.svg" %}</span>
  <span class="icon" id="desc_icon_2">{% include "icons/availability.svg" %}</span>
  <span class="icon" id="desc_icon_2.1">{% include "icons/availability.svg" %}</span>
  <span class="icon" id="desc_icon_2.2">{% include "icons/availability.svg" %}</span>
  <span class="icon" id="desc_icon_2.3">{% include "icons/availability.svg" %}</span>
  <span class="icon" id="desc_icon_2.4">{% include "icons/availability.svg" %}</span>
  <span class="icon" id="desc_icon_3">{% include "icons/accessibility.svg" %}</span>
  <span class="icon" id="desc_icon_3.1">{% include "icons/accessibility.svg" %}</span>
  <span class="icon" id="desc_icon_3.2">{% include "icons/accessibility.svg" %}</span>
  <span class="icon" id="desc_icon_3.3">{% include "icons/accessibility.svg" %}</span>
  <span class="icon" id="desc_icon_4">{% include "icons/acceptability.svg" %}</span>
  <span class="icon" id="desc_icon_4.1">{% include "icons/acceptability.svg" %}</span>
  <span class="icon" id="desc_icon_4.2">{% include "icons/acceptability.svg" %}</span>
  <span class="icon" id="desc_icon_4.3">{% include "icons/acceptability.svg" %}</span>
  <span class="icon" id="desc_icon_5">{% include "icons/adaptability.svg" %}</span>
  <span class="icon" id="desc_icon_5.1">{% include "icons/adaptability.svg" %}</span>
  <span class="icon" id="desc_icon_5.2">{% include "icons/adaptability.svg" %}</span>
  <span class="icon" id="desc_icon_5.3">{% include "icons/adaptability.svg" %}</span>
  <span class="icon" id="desc_icon_5.4">{% include "icons/adaptability.svg" %}</span>


  <span class="icon" id="desc_icon_t12A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t3A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t3A.A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t3A.B">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t3B">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t3C">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t1A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t1B">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t4A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t8A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t9A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t2A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t5A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t6A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t7A">{% include "icons/earth.svg" %}</span>
  <span class="icon" id="desc_icon_t7B">{% include "icons/earth.svg" %}</span>


  <div id="desc_label_index">{% trans "Index Score" %}</div>
  <div id="desc_label_1">{% trans "Governance" %}</div>
  <div id="desc_label_1.1">{% trans "International Framework" %}</div>
  <div id="desc_label_1.2">{% trans "National Law" %}</div>
  <div id="desc_label_1.3">{% trans "Plan of Action" %}</div>
  <div id="desc_label_1.4">{% trans "Monitoring and Reporting" %}</div>
  <div id="desc_label_1.5">{% trans "Finance" %}</div>
  <div id="desc_label_1.6">{% trans "Data Availability" %}</div>
  <div id="desc_label_2">{% trans "Availability" %}</div>
  <div id="desc_label_2.1">{% trans "Classrooms" %}</div>
  <div id="desc_label_2.2">{% trans "Sanitation" %}</div>
  <div id="desc_label_2.3">{% trans "Teachers" %}</div>
  <div id="desc_label_2.4">{% trans "Textbooks" %}</div>
  <div id="desc_label_3">{% trans "Accessibility" %}</div>
  <div id="desc_label_3.1">{% trans "Free Education" %}</div>
  <div id="desc_label_3.2">{% trans "Discrimination" %}</div>
  <div id="desc_label_3.3">{% trans "Participation" %}</div>
  <div id="desc_label_4">{% trans "Acceptability" %}</div>
  <div id="desc_label_4.1">{% trans "Aims of Education" %}</div>
  <div id="desc_label_4.2">{% trans "Learning Environment" %}</div>
  <div id="desc_label_4.3">{% trans "Learning Outcomes" %}</div>
  <div id="desc_label_5">{% trans "Adaptability" %}</div>
  <div id="desc_label_5.1">{% trans "Children with Disabilities" %}</div>
  <div id="desc_label_5.2">{% trans "Children of Minorities" %}</div>
  <div id="desc_label_5.3">{% trans "Out of School Education" %}</div>
  <div id="desc_label_5.4">{% trans "Out of School Children" %}</div>


  <div id="desc_index">{% trans "The overall index score is a general indication of progress towards the right to education in a country." %}</div>
  <div id="desc_1">{% trans "The legal structure of education in a State. This includes State ratification of international declarations or treaties, education financing, and education standards and regulations." %}</div>
  <div id="desc_1.1">{% trans "Indicates whether a country has ratified international and regional treaties associated with the right to education." %}</div>
  <div id="desc_1.2">{% trans "Indicates whether the right to education at all levels is enshrined in national law and whether individuals have the liberty to direct the education of their children." %}</div>
  <div id="desc_1.3">{% trans "Indicates whether a national education plan that aims for free and compulsory primary education is in place and whether there are targeted dates for its implementation." %}</div>
  <div id="desc_1.4">{% trans "Indicates minimal education standards, monitoring, and data collection." %}</div>
  <div id="desc_1.5">{% trans "National education financing. This includes budget expenditures, allocations, and sources" %}</div>
  <div id="desc_1.6">{% trans "Indicates the average percent of available data for each area examined by RTEI." %}</div>
  <div id="desc_2">{% trans "The number of educational institutions available and the condition of such institutions. " %}</div>
  <div id="desc_2.1">{% trans "Indicates the realtive availability of classrooms in primary schools." %}</div>
  <div id="desc_2.2">{% trans "Indicates whether primary schools have toilets and potable water." %}</div>
  <div id="desc_2.3">{% trans "Indicates whether primary school teachers are appropriately trained and the pupil per trained teacher ratio." %}</div>
  <div id="desc_2.4">{% trans "Indicates the relative availability of textbooks." %}</div>
  <div id="desc_3">{% trans "The availability of accessible learning environments to all students regardless of their socio-economic, familial, or demographic status." %}</div>
  <div id="desc_3.1">{% trans "Indicates whether primary education is free in law and in practice." %}</div>
  <div id="desc_3.2">{% trans "Indicates whether discrimination of vulnerable populations, such as pregnant girls and migrant students, are prohibited in law." %}</div>
  <div id="desc_3.3">{% trans "Indicates whether students are enrolling and completing school and whether participation in equitable." %}</div>
  <div id="desc_4">{% trans "The quality of education made available. This moves beyond learning outcomes to also capture the cultural relevance and security of the educational environment as well as the aims and content of education. " %}</div>
  <div id="desc_4.1">{% trans "Indicates whether laws, curriculum, teacher training, and textbook monitoring align with the aims of education laid out in the international right to education framework." %}</div>
  <div id="desc_4.2">{% trans "Indicates whether learning environments are free from violence and abuse, including corporal punishment." %}</div>
  <div id="desc_4.3">{% trans "Indicates student passage rate on national assessments/exams and national literacy rates." %}</div>
  <div id="desc_5">{% trans "The ability of education to be flexible in meeting the needs of a diverse range of students. " %}</div>
  <div id="desc_5.1">{% trans "Indicates whether the right to education for children with disabilities is protected in law and accomodations for children with disabilities are made in practice." %}</div>
  <div id="desc_5.2">{% trans "Indicates whether education has been adapted to meet the needs of children of minorities, including children of nomads and students with a different mother tongue." %}</div>
  <div id="desc_5.3">{% trans "Indicates whether education is available in other circumstances outside of formal schooling, including in retention centers/camps and prisons." %}</div>
  <div id="desc_5.4">{% trans "The potential obstacles to children accessing and completing education. This includes early marriage, child labor and employment under the age fifteen, and military recruitment under the age sixteen." %}</div>

  <div id="desc_label_t1A">{% trans "Structure and Support for Children with Disabilities" %}</div>
  <div id="desc_label_t1B">{% trans "Participation and Achievement for Children with Disabilities" %}</div>
  <div id="desc_label_t2A">{% trans "Content of Curriculum" %}</div>
  <div id="desc_label_t3A">{% trans "Overall State of Girls Education" %}</div>
  <div id="desc_label_t3A.A">{% trans "Structure and Support for Girls Education" %}</div>
  <div id="desc_label_t3A.B">{% trans "Participation and Achievement in Girls Education" %}</div>
  <div id="desc_label_t3B">{% trans "Discriminatory Environment" %}</div>
  <div id="desc_label_t3C">{% trans "Relative State of Girls' Education" %}</div>
  <div id="desc_label_t4A">{% trans "Discriminatory Environment" %}</div>
  <div id="desc_label_t5A">{% trans "Stregnth of Monitoring and Accountability" %}</div>
  <div id="desc_label_t6A">{% trans "National Normative Framework" %}</div>
  <div id="desc_label_t7A">{% trans "Legal Restrictions in Opportunity and Indirect Costs" %}</div>
  <div id="desc_label_t7B">{% trans "Opportunity and Indirect Costs in Practice" %}</div>
  <div id="desc_label_t8A">{% trans "Private Education Legal Environment" %}</div>
  <div id="desc_label_t9A">{% trans "Content of Teacher Training" %}</div>
  <div id="desc_label_t9B">{% trans "Effect of Teacher Training" %}</div>
  <div id="desc_label_t9C">{% trans "Overall teaching framework" %}</div>
  <div id="desc_label_t10">{% trans "Income Inequality" %}</div>
  <div id="desc_label_t10A">{% trans "Relative Enrollment and Completion Rates" %}</div>
  <div id="desc_label_t10B">{% trans "Achievement across Income Quintiles" %}</div>
  <div id="desc_label_t11">{% trans "Regional Disparities" %}</div>
  <div id="desc_label_t11A">{% trans "Relative State of Children in Rural Settings" %}</div>
  <div id="desc_label_t12A">{% trans "Alignement of Education Aims" %}</div>
  <div id="desc_label_t13A">{% trans "SDG 4.1 Free and equitable" %}</div>
  <div id="desc_label_t13B">{% trans "SDG 4.3 Beyond K - 12" %}</div>
  <div id="desc_label_t13C">{% trans "SDG 4.5 Inequality and inaccessibility" %}</div>
  <div id="desc_label_t13D">{% trans "SDG 4.6 Adult literacy and lifelong learning" %}</div>
  <div id="desc_label_t13E">{% trans "SDG 4.7 Sustainability" %}</div>
  <div id="desc_label_t13F">{% trans "SDG 4.a Safe learning environment" %}</div>
  <div id="desc_label_t13G">{% trans "SDG 4.c Qualified teachers" %}</div>


  <div id="desc_t1A">{% trans "Indicates the extent to which a country provides a legal structure and corresponding support for children with a disability. " %}</div>
  <div id="desc_t1B">{% trans "Indicates the participation and achievement levels of children with disabilities." %}</div>
  <div id="desc_t2A">{% trans "Indicates whether the national curriculum includes subjects and themes outlined in the international right to education framework." %}</div>
  <div id="desc_t3A">{% trans "Indicates the general state of girls education in a country." %}</div>
  <div id="desc_t3A.A">{% trans "Captures laws that specifically target girls’ education" %}</div>
  <div id="desc_t3A.B">{% trans "Captures processes that specifically target girls’ education" %}</div>
  <div id="desc_t3B">{% trans "Indicates the extent to which the legal environment prohibits the discrimination of girls in a country." %}</div>
  <div id="desc_t3C">{% trans "Evaluates education equality between female and male learners" %}</div>
  <div id="desc_t4A">{% trans "Indicates the extent to which the legal environment prohibits the discrimination of indigenous and minority populations in a country." %}</div>
  <div id="desc_t5A">{% trans "Indicates an important, but not exhaustive, measure of government oversight for the educational system by providing a measure that captures the legal framework." %}</div>
  <div id="desc_t6A">{% trans "Indicates whether the legal structure necessary to fulfill and facilitate the right to education in a country is present." %}</div>
  <div id="desc_t7A">{% trans "Indicates whether the legal environment encourages children to attend school by reducing indirect or opportunity costs" %}</div>
  <div id="desc_t7B">{% trans "Opportunity and Indirect Costs capture costs that price children out of education or opportunities that provide children with an alternative to education." %}</div>
  <div id="desc_t8A">{% trans "Indicates whether the legal environment allows the establishment of private schools and private choice." %}</div>
  <div id="desc_t9A">{% trans "Indicates the extent to which the aims of education are incorporated into the required teacher training." %}</div>
  <div id="desc_t9B">{% trans "Provides a visual representation of the effect of teacher training and the pupil-teacher ratio in a country." %}</div>
  <div id="desc_t9C">{% trans "Includes all indicators related to teaching to provide an overall view of teaching quality, support, and accessibility in the country." %}</div>
  <div id="desc_t10A">{% trans "Measures the relative income inequality compares results for the highest income quintile to students in the lowest income quintile." %}</div>
  <div id="desc_t10B">{% trans "Graphs academic achievement across income quintiles helps to show gaps in student achievement." %}</div>
  <div id="desc_t11A">{% trans "Provides a snapshot of the state of girls' education, relative to boys in a country." %}</div>
  <div id="desc_t12A">{% trans "Captures how well the aims of education, outlined in the international right to education framework, are included in the legal structure of a country and incorporated into the national curriculum and teacher training." %}</div>
  <div id="desc_t13A">{% trans "By 2030, ensure that all girls and boys complete free, equitable, and quality primary and secondary education leading to relevant and Goal-4 effective learning outcomes (<a href='https://sustainabledevelopment.un.org/sdg4'>More information</a>)" %}</div>
  <div id="desc_t13B">{% trans "12 – By 2030, ensure equal access for all women and men to affordable and quality technical, vocational and tertiary education, including university (<a href='https://sustainabledevelopment.un.org/sdg4'>More information</a>)" %}</div>
  <div id="desc_t13C">{% trans "By 2030, eliminate gender disparities in education and ensure equal access to all levels of education and vocational training for the vulnerable, including persons with disabilities, indigenous peoples and children in vulnerable situations (<a href='https://sustainabledevelopment.un.org/sdg4'>More information</a>)" %}</div>
  <div id="desc_t13D">{% trans "By 2030, ensure that all youth and a substantial proportion of adults, both men and women, achieve literacy and numeracy (<a href='https://sustainabledevelopment.un.org/sdg4'>More information</a>)" %}</div>
  <div id="desc_t13E">{% trans "By 2030, ensure that all learners acquire the knowledge and skills needed to promote sustainable development, including, among others, through education for sustainable development and sustainable lifestyles, human rights, gender equality, promotion of a culture of peace and non-violence, global citizenship and appreciation of cultural diversity and of culture’s contribution to sustainable development. (<a href='https://sustainabledevelopment.un.org/sdg4'>More information</a>)" %}</div>
  <div id="desc_t13F">{% trans "Build and upgrade education facilities that are child, disability and gender sensitive and provide safe, nonviolent, inclusive and effective learning environments for all (<a href='https://sustainabledevelopment.un.org/sdg4'>More information</a>)" %}</div>
  <div id="desc_t13G">{% trans "By 2030, substantially increase the supply of qualified teachers, including through international cooperation for teacher training in developing countries, especially least developed countries and small island developing states (<a href='https://sustainabledevelopment.un.org/sdg4'>More information</a>)" %}</div>

</div>
