{% load rtei_tags %}

{% for indicator in indicators %}
  <li>
    <div id="indicator_{{ indicator.code }}" class="indicator">
      <span class="indicator-title">
        <span class="code">{{ indicator.code }}</span>{{ indicator.title }}
      </span>
      <span class="indicator-value">
        {{ country_indicators|get_indicator_value:indicator.code }}
      </span>
    </div>
    {% if indicator.children %}
      <ul>
      {% indicators_list indicator.children country_indicators %}
      </ul>
    {% endif %}

  </li>
{% endfor %}
