{% load i18n %}

<ul>
  <li>
    <input type="radio" name="indicator" value="index" id="indicator_index" checked="checked" /><label for="indicator_index">{% trans "Overall Index" %}</label>
  </li>
  {% for indicator in indicators %}
  <li>
    <input type="radio" name="indicator" value="{{ indicator.code }}" id="indicator_{{ indicator.code }}"/><label for="indicator_{{ indicator.code }}">{% trans indicator.title %}</label>
    <h6>{% trans "Sub-categories" %}</h6>
    <ul>
      {% for subindicator in indicator.subindicators %}
        <li>
          <input type="radio" name="indicator" value="{{ subindicator.code }}" id="indicator_{{ subindicator.code }}"/><label for="indicator_{{ subindicator.code }}">{% trans subindicator.title %}</label>
        </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

