{% load i18n %}

<form method="get" accept-charset="utf-8">
  <input type="submit" value="{% trans "Show Latest Resource" %}">
</form>

<form method="get" accept-charset="utf-8">
<ul>
<!--  <li>
    <input type="checkbox" name="reset" value="reset" id="filter_reset" /><label for="filter_reset">{% trans "Show Latest Resource" %}</label>
  </li>-->

  <!--<li>
    <input type="radio" name="indicator" value="{{ indicator.code }}" id="indicator_{{ indicator.code }}"/><label for="indicator_{{ indicator.code }}">{% trans indicator.title %}</label>
    <h6>{% trans "Sub-categories" %}</h6>
    <ul class="subindicators">
      {% for subindicator in indicator.indicators %}
        <li>
          <input type="radio" name="indicator" value="{{ subindicator.code }}" id="indicator_{{ subindicator.code }}"/><label for="indicator_{{ subindicator.code }}">{% trans subindicator.title %}</label>
        </li>
      {% endfor %}
    </ul>
  </li>-->

  <li>
    <h6>{% trans "Years" %}</h6>
    <ul>
      <li>
        <input type="radio" name="year" value="" id="filter_year_all"/><label for="filter_year_all">{% trans "All" %}</label></input>
      </li>
      {% for year in years %}
      <li>
        <input type="radio" name="year" value="{{ year }}" id="filter_year_{{ year }}" {% if request.GET.year == year %}checked="checked"{% endif %}/><label for="filter_year_{{ year }}">{{ year }}</label></input>
      </li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <h6>{% trans "Countries" %}</h6>
    <ul>
      <li>
        <input type="radio" name="country" value="" id="filter_country_all"/><label for="filter_country_all">{% trans "All" %}</label></input>
      </li>
      {% for country in countries %}
      <li>
        <input type="radio" name="country" value="{{ country }}" id="filter_country_{{ country|slugify }}" {% if request.GET.country == country %}checked="checked"{% endif %}/><label for="filter_country_{{ country|slugify }}">{{ country }}</label></input>
      </li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <h6>{% trans "Countries" %}</h6>
    <ul>
      <li>
        <input type="radio" name="collection" value="" id="filter_collection_all"/><label for="filter_collection_all">{% trans "All" %}</label></input>
      </li>
      {% for collection in collections %}
      <li>
        <input type="radio" name="collection" value="{{ collection.0 }}" id="filter_collection_{{ collection.0 }}" {% if request.GET.collection == collection.0|slugify %}checked="checked"{% endif %}/><label for="filter_collection_{{ collection.0 }}">{{ collection.1 }}</label></input>
      </li>
      {% endfor %}
    </ul>
  </li>

</ul>

<input type="submit" />
</form>
