{% load i18n %}

<form method="get" accept-charset="utf-8">
<ul>
  <li>
    <label>{% trans "Years" %}</label>
    <h6 class="expanded">{% trans "Sub-categories" %}</h6>
    <ul class="subfilter">
      <li>
        <input type="radio" name="year" value="all" id="filter_year_all" {% if request.GET.year == "all" %}checked="checked"{% endif %}/><label for="filter_year_all">{% trans "All Years" %}</label></input>
      </li>
      {% for year in years %}
      <li>
        <input type="radio" name="year" value="{{ year }}" id="filter_year_{{ year }}" {% if request.GET.year == year %}checked="checked"{% endif %}/><label for="filter_year_{{ year }}">{{ year }}</label></input>
      </li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <label>{% trans "Countries" %}</label>
    <h6 class="expanded">{% trans "Sub-categories" %}</h6>
    <ul class="subfilter">
      <li>
        <input type="radio" name="country" value="all" id="filter_country_all" {% if request.GET.country == "all" %}checked="checked"{% endif %}/><label for="filter_country_all">{% trans "All Countries" %}</label></input>
      </li>
      {% for country in countries %}
      <li>
        <input type="radio" name="country" value="{{ country }}" id="filter_country_{{ country|slugify }}" {% if request.GET.country == country %}checked="checked"{% endif %}/><label for="filter_country_{{ country|slugify }}">{{ country }}</label></input>
      </li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <label>{% trans "Categories" %}</label>
    <h6 class="expanded">{% trans "Sub-categories" %}</h6>
    <ul class="subfilter">
      <li>
        <input type="radio" name="collection" value="all" id="filter_collection_all" {% if request.GET.collection == "all" %}checked="checked"{% endif %}/><label for="filter_collection_all">{% trans "All Collections" %}</label></input>
      </li>
      {% for collection in collections %}
      <li>
        <input type="radio" name="collection" value="{{ collection.0 }}" id="filter_collection_{{ collection.0 }}" {% if request.GET.collection == collection.0|slugify %}checked="checked"{% endif %}/><label for="filter_collection_{{ collection.0 }}">{{ collection.1 }}</label></input>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>

<input type="submit" value="{% trans "Apply Filters" %}" />
</form>
