{% load wagtailcore_tags %}
{% load i18n %}

<li>
  <a class="icon" href="{{fixed_url}}" title="{{result.title}}">
    {% if result.file_extension == "pdf" %}
    {% include "icons/file-pdf.svg" %}
    {% elif not result.is_resource %}
    {% include "icons/page.svg" %}
    {% else %}
    {% include "icons/file.svg" %}
    {% endif %}
  </a>

  <span class="text {% if not result.is_resource %}single-line{% endif %}">
    <h3>
        {% if result.external_url %}
            <a href="{{result.external_url}}" title="{{result.title}}" target="_blank">{{result.title}}{% if result.country %} - {{result.country}}{% endif %}{% if result.year %} - {{result.year}}{% endif %}
            
                <span class="external" title="{% trans "Link will open in a new tab" %}">    {% include "icons/external_link.svg" %}</span>
            </a>
        {% else %}
            <a href="{{fixed_url}}" title="{{result.title}}">{{result.title}}{% if result.country %} - {{result.country}}{% endif %}{% if result.year %} - {{result.year}}{% endif %}</a>
        {% endif %}
        
    
    </h3>
    {% if result.description %}
       {{result.description|richtext}}
    {% endif %}
    {% if result.year or result.country or result.collection or result.file_extension %}
    <ul class="meta">
      {% if result.year %}
      <li>
        {{result.year}}
      </li>
      {% endif %}
      {% if result.country %}
      <li>
        {{result.country}}
      </li>
      {% endif %}
      {% if result.collection %}
      <li>
        {{result.collection}}
      </li>
      {% endif %}
      {% if result.file_extension %}
      <li class="extension">
        {{result.file_extension}}
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </span>
</li>

