
<ul>
<li>
  <input type="radio" name="indicator" value="t1" id="indicator_t1"/><label for="indicator_t1">Children with Disabilities</label>
  <ul class="subindicators">
        <li>
          <input type="radio" name="indicator" value="t1A" id="indicator_t1A"/><label for="indicator_t1A">Structure and Support</label>
        </li>
  </ul>
</li>
<li>
  <input type="radio" name="indicator" value="t2" id="indicator_t2"/><label for="indicator_t2">Content of Education</label>
  <ul class="subindicators">
        <li>
          <input type="radio" name="indicator" value="t2A" id="indicator_t2A"/><label for="indicator_t2A">Content of curriculum</label>
        </li>


  </ul>
</li>
<li>
  <input type="radio" name="indicator" value="t3" id="indicator_t3"/><label for="indicator_t3">Girls' Education</label>
  <ul class="subindicators">
        <li>
          <input type="radio" name="indicator" value="t3A" id="indicator_t3A"/><label for="indicator_t3A">Overall state of girls' education</label>
        </li>
        <li>
          <input type="radio" name="indicator" value="t3B" id="indicator_t3B"/><label for="indicator_t3B">Discriminatory environment</label>
        </li>


  </ul>
</li>
<li>
  <input type="radio" name="indicator" value="t4" id="indicator_t4"/><label for="indicator_t4">Indigenous and Minority Populations</label>
  <ul class="subindicators">
        <li>
          <input type="radio" name="indicator" value="t4A" id="indicator_t4A"/><label for="indicator_t4A">Discriminatory environment</label>
        </li>


  </ul>
</li>
<li>
  <input type="radio" name="indicator" value="t5" id="indicator_t5"/><label for="indicator_t5">Monitoring and Accountability</label>
  <ul class="subindicators">
        <li>
          <input type="radio" name="indicator" value="t5A" id="indicator_t5A"/><label for="indicator_t5A">Strength of monitoring and accountability</label>
        </li>


  </ul>
</li>
<li>
  <input type="radio" name="indicator" value="t6" id="indicator_t6"/><label for="indicator_t6">National Normative Framework</label>
  <ul class="subindicators">
        <li>
          <input type="radio" name="indicator" value="t6A" id="indicator_t6A"/><label for="indicator_t6A">National Normative Framework</label>
        </li>


  </ul>
</li>
<li>
  <input type="radio" name="indicator" value="t7" id="indicator_t7"/><label for="indicator_t7">Opportunity and Indirect Costs</label>
  <ul class="subindicators">
        <li>
          <input type="radio" name="indicator" value="t7A" id="indicator_t7A"/><label for="indicator_t7A">Legal restrictions in opportunity and indirect costs</label>
        </li>
        <li>
          <input type="radio" name="indicator" value="t7B" id="indicator_t7B"/><label for="indicator_t7B">Opportunity and indirect costs in practice</label>
        </li>


  </ul>
</li>
<li>
  <input type="radio" name="indicator" value="t8" id="indicator_t8"/><label for="indicator_t8">Private Education</label>
  <ul class="subindicators">
        <li>
          <input type="radio" name="indicator" value="t8A" id="indicator_t8A"/><label for="indicator_t8A">Private education legal environment</label>
        </li>


  </ul>
</li>
<li>
  <input type="radio" name="indicator" value="t9" id="indicator_t9"/><label for="indicator_t9">Teachers</label>
  <ul class="subindicators">
        <li>
          <input type="radio" name="indicator" value="t9A" id="indicator_t9A"/><label for="indicator_t9A">Content of teacher training</label>
        </li>


  </ul>
</li>

</ul>



