{% load rtei_tags wagtailcore_tags i18n static %}
{% get_site_root as site_root %}

<header class="site-header">
    <div class="container">

        <a href="/index.html" class="logo" title="{{ site_root.title }}">
          <img src="{% static 'img/logo.svg' %}" onerror="this.src='{% static 'img/logo.png' %}'" alt="{{ site_root.title }}">
        </a>

        <nav id="smenu" role="navigation">
        	<a href="#smenu" title="Show navigation">{% trans "Show navigation" %}</a>
        	<a href="#" title="Hide navigation">{% trans "Hide navigation" %}</a>

          <div>

            <ul role="navigation">
              {% for menu_item in menu_items %}
              <li class="{% if menu_item.show_dropdown %}dropdown{% endif %}{% if menu_item.active %} active{% endif %}">
                {% if menu_item.show_dropdown %}
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">{% translated_field menu_item 'title' language %} <b class="caret"></b></a>

                {% top_menu_children parent=menu_item %}
                {% else %}
              <a href="{% pageurl menu_item %}">{% translated_field menu_item 'title' language %}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>

          </div>
        </nav>

    </div>
</header>
