{% load rtei_tags wagtailcore_tags i18n static %}
{% get_site_root as site_root %}

<header class="site-header">
    <div class="container">

        <a href="{% pageurl site_root %}" class="logo" title="{{ site_root.title }}">
          <img src="{% static 'img/logo.svg' %}" onerror="this.src='{% static 'img/logo.png' %}'" alt="{{ site_root.title }}">
        </a>

        <nav id="smenu" role="navigation">
        	<a href="#smenu" title="Show navigation">Show navigation</a>
        	<a href="" title="Hide navigation">Hide navigation</a>
            <ul role="navigation">
                {% for menuitem in menuitems %}
                    <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                        {% if menuitem.show_dropdown %}
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ menuitem.title }} <b class="caret"></b></a>
                            {% top_menu_children parent=menuitem %}
                        {% else %}
                            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <form class="search" role="search" action="{% url 'search' %}" method="get">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="{% trans 'Search…' %}" value="{{ search_query }}" />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </nav>

        <a href="http://results.org/" class="results">
          <img src="{% static 'img/results.svg' %}" onerror="this.src='{% static 'img/results.png' %}'" alt="RESULTS">
        </a>

    </div>
</header>
