.template-rtei {
  .c3 path,
  .c3 line {
      stroke: #fff;
  }

  .c3 svg {
    font-family: inherit;
    font-size: 0.8em;
    margin-left: -5px;
  }
}

#chart-insufficient-data {
  display: none;
  z-index: 10;
  position: absolute;
  margin-top: 7px;
  margin-left: 25%;
  border-style: solid;
  border: 1px solid $base-border-color;
  padding: inherit;

  h5 {
    margin-bottom: 5px;
  }
  p {
    color: $base-font-color;
  }
}
