.template-rtei {
  .c3 path,
  .c3 line {
      stroke: #fff;
  }

  .c3 svg {
    font-family: inherit;
    font-size: 0.8em;
    margin-left: -5px;
  }
}

#chart-insufficient-data {

  display: none;
  text-align: center;
  padding-bottom: inherit;


  .title {
	font-weight: bold;
    color: #af202f;
  }
  p {
    color: $base-font-color;
  }
}
