.by-country {
  .export {
    float: right;
    background-color: $medium-gray;
  }

  .indicators {
    overflow-x: hidden;

    & > li {
      & > .indicator > span {
        font-weight: bold;

        &.indicator-title > .code {
          display: inline-block;
          background-color: $action-color;
          font-size: 0.9em;
          padding: 0.05em 0.4em;
          min-width: 1.45em;
          text-align: center;
          margin-right: 0.2em;
          color: #fff;
        }
      }

      & > ul:after {
        content: '';
        width: 100em;
        height: 1px;
        display: block;
        background-color: $light-gray;
        position: relative;
        left: -30em;
      }

      &:nth-child(1) {
        & > .indicator > .indicator-title .code {
          background-color: $yellow;
        }
        ul li:before,
        & > ul:after {
          background-color: transparentize($yellow, 0.7);
        }
      }
      &:nth-child(2) {
        & > .indicator > .indicator-title .code {
          background-color: $green;
        }
        ul li:before,
        & > ul:after {
          background-color: transparentize($green, 0.7);
        }
      }
      &:nth-child(3) {
        & > .indicator > .indicator-title .code {
          background-color: $blue;
        }
        ul li:before,
        & > ul:after {
          background-color: transparentize($blue, 0.7);
        }
      }
      &:nth-child(4) {
        & > .indicator > .indicator-title .code {
          background-color: $purple;
        }
        ul li:before,
        & > ul:after {
          background-color: transparentize($purple, 0.7);
        }
      }
      &:nth-child(5) {
        & > .indicator > .indicator-title .code {
          background-color: $pink;
        }
        ul li:before,
        & > ul:after {
          background-color: transparentize($pink, 0.7);
        }
      }
    }

    .has-children {
      & > .indicator {
        cursor: pointer;
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0.3em 0.3em 0 0.3em;
          border-color: $base-font-color transparent transparent transparent;
          position: absolute;
          top: 0.8em;
          right: 0;
          @include transform(rotate(-90deg));
          @include transition(all 0.2s ease-in-out);
        }
      }

      &.open {
        & > .indicator {
          &:after {
            @include transform(rotate(0deg));
          }
        }
      }
    }

    .indicator {
      clear: both;

      .indicator-title,
      .indicator-value {
        display: block;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }

      .indicator-title {
        float: left;
        width: 80%;
      }

      .indicator-value {
        text-align: right;
        padding-right: 1em;
      }
    }
    ul {
      li {
        padding-left: 1em;

        &:before {
          content: '';
          width: 100em;
          height: 1px;
          display: block;
          background-color: $light-gray;
          position: relative;
          left: -30em;
        }

        .code:after {
          content: ' - ';
        }
      }
    }
  }
}
