body {
  background-color: lighten($light-gray, 19);
}

.container {
  @include outer-container;
}

.main {
  @include outer-container;
  padding: $base-spacing;

  & > * {
    background-color: $base-background-color;
    margin-bottom: $base-spacing;
  }
  & > section {
    padding: $base-spacing;

    &.controls {
      padding: 0;

      & > button {
        border-radius: 0;
      }
    }

    &.map {
      padding: 0;

      & > .map {
        background-color: $base-background-color;
      }
    }
  }
}
