@import "nav";

.site-header {
  background-color: $base-background-color;
  height: 105px;

  @media only screen and ( min-width: $medium-screen) {
    height: 125px;
  }

  .container {
    position: relative;
    padding: $base-spacing;
  }

  .logo {
    display: block;
    width: 100px;
    float: left;
    margin-top: 4px;

    @media only screen and ( min-width: $medium-screen) {
      width: 140px;
    }

    img {
      width: 100%;
    }
  }

  #smenu {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    top: -56px;

    @media only screen and ( min-width: $medium-screen) {
      position: absolute;
      top: 70px;
      right: $base-spacing;
    }
  }

}
