.template-rtei.resources {
  .resources-list {

    li {
      padding-top: $small-spacing;
      padding-bottom: $small-spacing;
      margin-bottom: $small-spacing;
      @include clearfix;

      .icon {
        display: none;

        svg {
          width: 100%;
          height: auto;
          fill: $base-font-color;
        }

        &:hover {
          svg {
            fill:currentColor;
          }
        }

        @media only screen and ( min-width: $large-screen) {
          @include span-columns(1);
          padding-top: 0.1em;
        }
      }

      .text {
        h3 {
          font-size: 1.4em;
          margin-bottom: 0.1em;
        }
        @media only screen and ( min-width: $large-screen) {
          @include span-columns(11);
        }

        .meta {
          li {
            display: inline-block;
            background-color: lighten($light-gray,15);
            font-size: 0.85em;
            padding: 0 0.4em;

            &.extension {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.filter.controls form {

  background-color: $base-background-color;

  & input[type="submit"] {
    margin-top: $base-spacing*0.75;
    float: right;
  }

  label {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: $base-spacing*0.75 $base-spacing;
    font-size: em(14);
    border-style: solid;
    border-color: $body-background-color;
    border-width: 0 1px 0 0;
    line-height: 1.2;
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      background-color: $index-color;
      color: $base-background-color;

      & + h6:after {
        border-top-color: $base-background-color;
      }
    }
  }

  & > ul {
    @include clearfix;

    @media only screen and ( min-width: $large-screen) {
      @include fill-parent();
      @include row(table);
    }

    & > li {
      display: block;
      position: relative;

      & > label {
        font-weight: bold;
      }

      &.subcat {
        background-color: rgba($index-color, 0.1);
      }

      @media only screen and ( min-width: $large-screen) {
        @include span-columns(2);

        &:last-child {
          @include reset-display;
        }
      }

      h6 {
        text-indent: -9999em;
        overflow: hidden;
        width: 16px;
        height: 16px;
        position: absolute;
        top: em(18);
        right: em(18);

        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: $base-font-color transparent transparent transparent;
          content: '';
          position: absolute;
          left: 4px;
          top: 7px;
        }
      }

      ul {
        background-color: $base-background-color;
        display: none;

        label {
          border-width: 0 1px 1px 1px;
          padding: $small-spacing /1.5 $base-spacing * 1.5;
        }

        @media only screen and ( min-width: $large-screen) {
          position: absolute;
          z-index: 1;
        }
      }

      &:hover {
        background-color: $light-gray;

        & > ul {
          display: block;

          li:hover {
            background-color: $light-gray;
          }
        }
      }
    }
  }
}
