.template-rtei.resources {
  .resources-list {

    li {
      padding-top: $small-spacing;
      padding-bottom: $small-spacing;
      margin-bottom: $small-spacing;
      @include clearfix;

      .icon {
        display: none;

        svg {
          width: 100%;
          height: auto;
          fill: $base-font-color;
        }

        &:hover {
          svg {
            fill:currentColor;
          }
        }

        @media only screen and ( min-width: $large-screen) {
          @include span-columns(1);
          padding-top: 0.1em;
        }
      }

      .text {
        h3 {
          font-size: 1.4em;
          margin-bottom: 0.1em;
        }
        @media only screen and ( min-width: $large-screen) {
          @include span-columns(11);
        }

        .meta {
          li {
            display: inline-block;
            background-color: lighten($light-gray,15);
            font-size: 0.85em;
            padding: 0 0.4em;

            &.extension {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.filter.controls {

}
