.template-rtei.resources {
  .resources-list {

    li {
      padding-top: $small-spacing;
      clear: left;

      .icon {
        display: none;

        svg {
          width: 100%;
          height: auto;
          fill: $base-font-color;
        }

        &:hover {
          svg {
            fill:currentColor;
          }
        }

        @media only screen and ( min-width: $large-screen) {
          @include span-columns(1);
        }
      }

      .text {
        h3 {
          font-size: 1.4em;
          margin-bottom: 0.1em;
        }
        @media only screen and ( min-width: $large-screen) {
          @include span-columns(11);
        }
      }
    }
  }
}
