{% load static wagtailuserbar wagtailcore_tags rtei_tags i18n %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/rtei.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-modal/jquery.modal.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}

        {% breadcrumbs %}

        {% block content %}{% endblock %}

        <footer class="site-footer">
          <div class="primary">

              <ul class="links">
                <li>
                  <a href="{% url 'wagtail_serve' 'about/contact-us/' %}">{% trans "Contact Us" %}</a>
                </li>
                <li>
                  <a href="{% url 'wagtail_serve' 'glossary/' %}">{% trans "Glossary" %}</a>
                </li>
              </ul>

              <ul class="social">
                <li>
                  <a href="https://twitter.com/RESULTS_Tweets" target="_blank">{% include "icons/twitter.svg" %}</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/RESULTSEdFund" target="_blank">{% include "icons/facebook.svg" %}</a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/RESULTSorg" target="_blank">{% include "icons/youtube.svg" %}</a>
                </li>
              </ul>
          </div>

          <div class="secondary">
            <div>
{#               <ul class="language"> #}
{#               {% get_available_languages as languages %} #}
{#               {% get_current_language as current_lang_code %} #}
{#               {% for lang_code, lang_name in languages  %} #}
{#                 {% language lang_code %} #}
{#                 <li {% if lang_code == current_lang_code %}class="active"{% endif %}> #}
{#                   <a href="{% slugurl_trans page.slug %}">{{ lang_code|upper }}</a> #}
{#                 </li> #}
{#                 {% endlanguage %} #}
{#               {% endfor %} #}
{#               </ul> #}

              <a href="http://results.org/" class="results">
                <img src="{% static 'img/results.svg' %}" onerror="this.src='{% static 'img/results.png' %}'" alt="RESULTS">
              </a>
            </div>

          </div>

          <div class="credit">
            <a href="https://okfn.org/" rel="external">Developed by <img src="https://a.okfn.org/img/oki/landscape-white-468x122.png" alt="Open Knowledge International" /></a>
          </div>

        </footer>

        {# Global javascript #}
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/jquery-2.1.3.min.js' %}"><\/script>')</script>
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/rtei.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/jquery-modal/jquery.modal.min.js' %}"></script>
        {% if year %}
        <script>RTEI.year = {{ year }}</script>
        {% endif %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

		{% if google_analytics_code %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', '{{ google_analytics_code }}', 'auto');
		  ga('send', 'pageview');

		</script>

        {% endif %}
    </body>
</html>
