{% extends "base.html" %}

{% load static wagtailcore_tags i18n %}

{% block extra_css %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://www.rtei.org/blog/feed/rss">
{% endblock %}

{% block body_class %}template-blog-index{% endblock %}

{% block content %}
  <div class="main">

    {% include "rtei/tags/rss.html" %}

    {% if request.GET.tag|length %}

    <section>
        <h4>{% trans "Showing posts tagged as" %} {{ request.GET.tag|safe }} <a href=" {% pageurl self %} ">{% trans "Show all" %}</a></h4>
    </section>
    {% endif %}

    <div class="posts-list">
        {# Uses serve method defined in models.py - allows for paging if required #}
        {# See also standard index for creating a listing with a tag #}
        {% for blog in blogs %}
            {% include "rtei/tags/blog_list_item.html" %}
        {% empty %}
            {% trans "No posts found" %}
        {% endfor %}
    </div>


  </div>

{% endblock %}

{% block extra_js %}
  <script>
  $(document).ready(function() {
    $(".posts-list .post-body").dotdotdot({
      	watch	: true,
    });
  });
  </script>

{% endblock %}
