{% extends "rtei/about.html" %}

{% load i18n %}

{% block content_body %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <h2>{{ self.title }}</h2>

  <div id="" class="vcard">
    <div class="org">Right to Education Index</div>
    <div>A Project of RESULTS Educational Fund</div>
    <div class="adr">
      <div class="street-address">1101 15th Street, NW</div>
      <div class="extended-address">Suite 1200</div>
      <div class="locality">Washington, DC <span class="postal-code">20005</span></div>
    </div>
    <br>
    <div class="tel">+1 202-783-4800</div>
    <a class="email" href="mailto:rtei@results.org">rtei@results.org</a>
  </div>

  <p>{% trans "To receive periodic updates and announcements on RTEI and its activies, please fill out and submit the following form:" %}</p>
<div id="e045ed58-d2b8-46c6-acf9-6830838116ed">
    <script type="text/javascript" src="https://default.salsalabs.org/api/widget/template/abe81301-e7a4-4ba5-a475-d6e79c1bc1b2/?tId=e045ed58-d2b8-46c6-acf9-6830838116ed" ></script>
</div>
{% endblock content_body %}
