{% extends "base.html" %}

{% block body_class %}template-home{% endblock %}

{% block content %}
  <div class="banner">
    <div class="container">
      <div>
        <div class="text">
          <h1>Right to Education Index</h1>
          <p>A global index to catalyze reform across select indicators of the right to education.</p>
          <a href="explore/map/">Explore the Map</a>
        </div>
        <div class="map">
          [map here]
        </div>
      </div>
    </div>
  </div>

  <div class="main">

    <div>
      <a href="explore/rtei-year/">
        {% include "icons/bars.svg" %}
        <h2>RTEI by Year</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur velit massa, tempor eget aliquam in.
        </p>
      </a>
    </div>

    <div>
      <a href="explore/rtei-country/">
        {% include "icons/earth.svg" %}
        <h2>RTEI by Country</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur velit massa, tempor eget aliquam in.
        </p>
      </a>
    </div>

    <div>
      <a href="explore/rtei-over-time/">
        {% include "icons/calendar.svg" %}
        <h2>RTEI over Time</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur velit massa, tempor eget aliquam in.
        </p>
      </a>
    </div>

    <div>
      <a href="">
        {% include "icons/download.svg" %}
        <h2>Download the Data</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur velit massa, tempor eget aliquam in.
        </p>
      </a>
    </div>

  </div>

{% endblock %}
