{% extends "base.html" %}

{% load static i18n %}

{% block body_class %}template-home{% endblock %}

{% block extra_css %}

  <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
{% endblock %}


{% block content %}
  <div class="banner">
    <div class="container">
      <div>
        <div class="text">
          <h1>{% trans "Education for Everyone. Everywhere." %}</h1>
          <p>{% trans "The Right to Education Index is a global accountability initiative designed to ensure that all people, no matter where they live, can enjoy their right to a quality education." %}</p>
        </div>
        <div class="map" id="map">
        </div>
      </div>
    </div>
    <section class="summary">
      <div>
        <p>{% trans "The Right to Education Index monitors the right to education in a country based on an important, but non-exhaustive, list of indicators derived from the international right to education framework." %}</p>
        <p>{% trans "Explore the data on a map, by theme, by country, or in the complete data set." %}</p>
      </div>
    </section>
  </div>

  <div class="main">
    {% include 'rtei/tags/explore_list.html' %}
  </div>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'vendor/leaflet/leaflet.min.js' %}"></script>
  <script src="{% static 'vendor/leaflet/leaflet-omnivore.min.js' %}"></script>
  <script src="{% static 'vendor/leaflet/leaflet-pattern.min.js' %}"></script>

  <script src="{% static 'js/map.js' %}"></script>

{% endblock %}
