{% extends "base.html" %}

{% load static %}

{% block extra_css %}

  <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
{% endblock %}

{% block body_class %}template-explore-map{% endblock %}

{% block content %}
<div class="main">

  <section class="indicator-switcher controls">
    {% include 'rtei/tags/map_switcher.html' %}
  </section>

  <section class="map">
    <div id="map"></div>
    <div class="key">
      <h5>RTEI Score</h5>
      <ul>
        <li>
          0
        </li>
        <li>
          20
        </li>
        <li>
          40
        </li>
        <li>
          60
        </li>
        <li>
          80
        </li>
      </ul>
    </div>
  </section>

</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'vendor/leaflet/leaflet.min.js' %}"></script>
  <script src="{% static 'vendor/leaflet/leaflet-omnivore.min.js' %}"></script>

  <script src="{% static 'js/map.js' %}"></script>

{% endblock %}
