{% extends "base.html" %}

{% load static i18n rtei_tags %}

{% block extra_css %}

  <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
{% endblock %}

{% block body_class %}template-explore-map{% endblock %}

{% block content %}
<div class="main">

  <section>
    <h2>{% trans "Explore the Map" %}</h2>
    <p>
    {% trans "Compare countries around the world. Use the pull down menu to select the subtheme under governance, accessibility, availability, acceptability, or adaptability or choose a targeted theme." %}
    </p>
  </section>

  <section class="small-screen-controls">
    <button class="toggle-controls">{% trans "Filters" %}</button>
  </section>

  <section class="controls">
    {% left_menu indicators=indicators themes=themes for_map=True %}
  </section>

  <section class="map content">

    {% include 'rtei/tags/description_header.html' %}

    <div id="map"></div>

    <div class="key">
      <h5>{% trans "RTEI Score" %}</h5>
      <ul>
        <li>
          0
        </li>
        <li>
          20
        </li>
        <li>
          40
        </li>
        <li>
          60
        </li>
        <li>
          80
        </li>
      </ul>
      <dl>
        <dt>0</dt>
        <dd>{% trans "Towards the right to education being absent." %}</dd>
        <dt>100</dt>
        <dd>{% trans "Towards the right to education being respected, protected, and fulfilled." %}</dd>
      </dl>
    </div>
  </section>

</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'vendor/leaflet/leaflet.min.js' %}"></script>
  <script src="{% static 'vendor/leaflet/leaflet-omnivore.min.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>
{% endblock %}
