{% extends "base.html" %}

{% load wagtailcore_tags i18n rtei_tags %}

{% block body_class %}template-rtei resources{% endblock %}

{% block content %}
  <div class="main">
    <section>
      <form action="{% url 'latest_document' %}" method="get" accept-charset="utf-8" class="download_data"><button class="export">{% trans "Download the Data" %}</button></form>
      <h2>{% trans "Resources" %}</h2>
      <p>
        {% trans "Welcome to the resource library. For the most recent Right to Education Index resource see below or use the drop down menu to search filter resources by country, year, or subcategory." %}
      </p>
    </section>

    <section class="filter controls">
        {% include 'rtei/tags/resources_filter.html' %}
    </section>

    <section>
      {% if not has_filter %}
          <h3>{% trans "All Resources" %}</h3>
      {% endif %}
      {% if not documents %}
          <h4>{% trans "No resources found that match the selected filters" %}</h4>
      {% else %}
          <ul class="resources-list">
            {% for doc in documents %}
              {% resource_list_item doc %}
            {% endfor %}
          </ul>

          {# Pagination - uses django.core.paginator #}
          {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
          <div class="pagination">
              <div class="previous">
                  {% if documents.has_previous %}
                      <a href="?page={{ documents.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{% trans "Previous" %}</a>
                  {% endif %}
              </div>
              <div class="pages">
                  {% trans "Page" %} {{ documents.number }} / {{ documents.paginator.num_pages }}
              </div>
              <div class="next">
                  {% if documents.has_next %}
                      <a href="?page={{ documents.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{% trans "Next" %}</a>
                  {% endif %}
              </div>
          </div>
      {% endif %}

    </section>

  </div>

{% endblock %}
