{% extends "base.html" %}

{% load i18n static wagtailcore_tags %}

{% block body_class %}template-rtei{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/c3/c3.css' %}">
{% endblock %}

{% block content %}
  <div class="main">

    <style>
    /* TODO: Move out of here */

    #chart {
        height: 120px;
    }

    .indicator > div {
        float: left;
        display: block;
        padding: 5px 10px;
    }

    .indicator-title {
        width: 90%;
    }

    .indicator-value {
        text-align: center;
    }

    .indicators .level1 > div {
        background: #F97B5D;
        font-weight: bold;
    }

    .indicators .level2 > div {
        background: #FDE8DD;
    }

    .indicators .level2 .indicator-title {
        padding-left: 20px;
    }

    .indicators .level3 .indicator-title {
        padding-left: 40px;
    }

    .indicators .level4 .indicator-title {
        padding-left: 60px;
    }



    </style>


    <select id="available-countries">
     {% if not country_code %}
        <option value="">{% trans "Select a country ..." %}</option>
     {% endif %}
     {% for code, name in available_countries.iteritems %}
     <option value="{{ code }}" {% if code == country_code %}selected="selected"{% endif%}>{{ name }}</option>
     {% endfor %}
    </select>

    {% if country_code %}

    <section>

      <h1>{{ country_name }} ({{ country_code }})</h1>

      <div>{% trans "Overall Index" %}: {{ country_indicators.index }}</div>
      {% if chart_data %}
        <div id="chart" data-chart-data="{{ chart_data }}"></div>
      {% endif %}
    </section>

    <section>
        <div class="indicators" id="indicators">
            {% include 'rtei/tags/indicators.html' %}
        </div>
    </section>
    {% endif %}

  </div>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'vendor/underscore-min.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'vendor/d3/d3.min.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'vendor/c3/c3.min.js' %}" type="text/javascript" ></script>
  <script src="{% static 'js/country.js' %}"></script>
{% endblock %}
