{% extends "base.html" %}

{% load i18n static wagtailcore_tags rtei_tags %}

{% block body_class %}template-rtei template-rtei-by-country{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/c3/c3.css' %}">
{% endblock %}

{% block content %}
  <div class="main">

    <section>
    {% if not country_code %}
      {% if self.body %}
      {{ self.body|richtext }}
      {% else %}
      <h2>{% trans "RTEI by Country" %}</h2>
      <p>
        {% trans "Explore progress on the right to education in individual countries. Use the pull down menu to select a country and download the completed country questionnaire." %}
      </p>
      {% endif %}
    {% endif %}

    {% if country_code %}
    <form action="{% url 'latest_document' %}" method="get" accept-charset="utf-8"><button class="export">{% trans "Export all" %}</button></form>
    {% endif %}

      <div class="select">
        <select id="available-countries">
         {% if not country_code %}
            <option value="">{% trans "Select a country ..." %}</option>
         {% endif %}
         {% for code, name in available_countries.iteritems %}
         <option value="{{ code }}" {% if code == country_code %}selected="selected"{% endif%}>{{ name }}</option>
         {% endfor %}
        </select>
      </div>
    </section>

    {% if country_code %}

    <section class="controls">
      {% include 'rtei/tags/left_menu.html' %}
    </section>

    <section>
      <h2>{{ country_name }}</h2>

      <div class="current-indicator">
        <span id="current-indicator-label">{% trans "Overall Index" %}</span>: <span id="current-indicator-value">{{ country_indicators.index }}</span>
      </div>
      {% if chart_data %}
        <div id="chart" data-chart-data="{{ chart_data }}" data-chart-labels="{{ chart_labels }}"></div>
      {% endif %}

      <ol id="indicators" class="indicators-for-country">
        {% indicators_list indicators country_indicators %}
      </ol>


      <div id="theme_indicators">
      {% for theme in themes %}
        {% for subtheme in theme.children %}
            <ul id="theme_indicators_{{ subtheme.code }}" class="theme-indicators" style="display: none">
            {% indicators_list subtheme.indicators country_indicators %}
            </ul>
        {% endfor %}

      {% endfor %}
      </div>


    </section>


    {% endif %}

  </div>

{% endblock %}

{% block extra_js %}
  <script src="{% static 'vendor/underscore-min.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'vendor/d3/d3.min.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'vendor/c3/c3.min.js' %}" type="text/javascript" ></script>
  <script src="{% static 'js/charts.js' %}"></script>
  <script src="{% static 'js/country.js' %}"></script>
{% endblock %}
